#top{
    background-color: darkseagreen;
    width: auto;
    height: 44px;
    padding: 0px 5px 0px 5px;
}

#top-content{
    /*background-color: red;*/
    min-width: 200px;
    max-width: 1100px;
    line-height: 44px;
    margin: 0 auto;
    padding: 0px 20px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
#top-content img{
    height: 44px;
}
#top-logo {
    /*background-color: darkolivegreen;*/
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin-right: 10px;
    float: left;
}
#top-title{
    /*background-color: darkolivegreen;*/
    height: 44px;
    line-height: 44px;
    margin-right: 10px;
    display: inline;
}
#footer{
    background-color: #e2e2e2;
    height: 100px;

}

/***************************************************/


#wrapper{
    background-color: #e2e2e2;
    width: auto;
    line-height: 30px;
    padding: 5px 5px 25px 5px;
}

#content{
    background-color: #FFFFFF;
    /*background-color: #009688;*/
    min-width: 200px;
    max-width: 1100px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
}

#menu-bar{
    /*background-color: #009688;*/
    line-height: 30px;
    min-height: 80px;
    padding: 10px 0 10px 0;
}

.menu-row{
    /*background-color: antiquewhite;*/
    width: 100%;
}
.menu-item, .menu-item-cate{
    /*background-color: aquamarine;*/
    padding: 3px 8px 3px 8px;
    display: inline;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    /*font-family: FangSong;*/
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    /*font-weight: bold;*/
}

.menu-item-split{
    /*background-color: red;*/
    width: 10px;
    display: inline-block;
}

.menu-item-selected{
    /*TODO*/
    border-bottom: 2px solid #009688;
}

#menu-split {
    background-color: #e2e2e2;
    /*width: 100%;*/
    height: 3px;
    margin-right: -10px;
    margin-left: -10px;
}
#tip{
    /*background-color: #009688;*/
    color: darkgrey;
    margin-top: 5px;
    margin-bottom: -5px;
}

#main{
    /*background-color: red;*/
    min-height: 500px;
    padding: 10px 0 30px 0;
}
.info-item{
    /*background-color: darkseagreen;*/
    width: 100%;
    line-height: 23px;
    padding: 7px 0px 7px 0px;
    border-bottom: 1px solid darkgray;
}


