body{
    font-family: "Microsoft JhengHei";
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    /*font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;*/
}

a{
    color: black;
    text-decoration : none;
    cursor: pointer;
    /*remove mobile touch color*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.pointer {cursor: pointer;}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: gray;
}
#top a:hover{
    color: #000000;
}
a:active {
    color: gray;
}

h1,h2,h3,h4,h5,h6{
    margin: 10px 0px 10px 3%;
}

.no-break-word {
    display: inline-block;
    white-space:nowrap;
}