<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
    <h3>热点聚合</h3>
    <!--<span th:text="${domain}"></span>-->
    <div id="menu-bar"></div>
    <div id="content"></div>
    <div id="footer"></div>

    <!-- Scripts -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script th:src="@{/js/jquery-3.4.1-min.js}"></script>
    <script th:inline="javascript">
        var domain =  /*[[${domain}]]*/ "default";
        // console.log("domain: " + domain);
    </script>
    <script th:src="@{/js/index.js}"></script>
    <!-- Scripts end -->
</body>
</html>